<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Uma troca de senha de sua conta foi solicitada.
    Caso você queira dar andamento, por favor acesse o link abaixo:</p>

  <a href="{{link}}">Resetar minha senha</a>

  <p>Se você não solicitou uma troca de senha ou não quer dar andamento a essa solicitação, descarte este e-mail.</p>
  <p>Obrigado!<br /> <strong>{{senderName}}</strong></p>
</div>
